<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <p>Welcome</p>
        <footer>
        <p>
            <a href="/">home</a>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </p>
    </footer>
        <script src="/js/jquery-1.11.2.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>